.str0{
    stroke:#373435;
    stroke-width:9.86624
}
    .fil6 {fill:none}
    .fil0 {fill:#FEFEFE}
    .fil4 {fill:#FCDC6B}
    .fil1 {fill:#6A99D0}
    .fil5 {fill:#201E1E}
    .fil2 {fill:#F50953}
    .fil3 {fill:#FEFEFE;fill-rule:nonzero}
    .fil8 {fill:#6383C1;fill-rule:nonzero}
    .fil7 {fill:url(#id1)}
svg{
    margin-left:-450;
}