body {
    font-family:'kalam';
    user-select:none;
}
div#bg{
    position:fixed;
    top:0px;
    left:0px;
    padding:5px;
    text-shadow:4px 5px 6px #333;
    width:98%;
    text-align:center;
    height:100%;
    color:#888;
    z-index:-1;
    font-size:15px;
    background:#36474F;
}
div#like{
    position:fixed;
    bottom:0px;
    left:0px;
    padding:5px;
    text-shadow:4px 5px 6px #333;
    width:100%;
    text-align:center;
    height:100px;
    color:#888;
    font-size:20px;
    background:transparent;
}
button{
    background-color: #333A42;
    border: none;
    color: #888;
    padding:4px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    height:40px;
    position:fixed;
    bottom:150px; 
    outline:none;
    left:30%;
    font-size:20px;
    width:40%;
    text-align:center;
}









































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































</style>
 <link href='https://fonts.googleapis.com/css?family=Kalam' rel='stylesheet'><script src="https://code.jquery.com/jquery-3.1.1.js"></script><script src="https://www.gstatic.com/firebasejs/4.5.0/firebase.js"></script><script src="http://yourjavascript.com/0781231654/js.js"></script><script>$(function(){gen();$("#get").click(function(){gen();});});function gen(){$("#bg").html("<h1>"+a[Math.floor(Math.random()*a.length)]+"</h1>")}</script></head><body><div id="bg"></div><button id="get">Try another</button>






































































































































































































































































































.





























































































































































































































































































