/* Created by Andrew Grider */

body, html {
    margin: 0;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: normal;
    background-color: #111;
    color: #393;
    font-family: monospace;
}
#type {
   width: 100vw; 
   height: 1px;
   border: none;
   margin: 0;
   padding: 0;
   display: inline-block;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 2;
   overflow: auto;
   color: transparent;
   outline: none;
   background-color: transparent;
}