body {
    background-color:#4FCA50;
}
input{
    width:62px;
    display:block;
    height:62px;
    outline:none;
    font-size:55px;
    background-color:#3eb939;
    margin:10px;
}
#cal{
    position:absolute;
    top:70px;
    width:auto;
    font-size:20px;
    padding:10px;
    right:40px;
    background-color:#4CAF50;
}
.sub{
    position:relative;
    left:15px;
}
#res{
    position:absolute;
    top:200px;
    width:auto;
    font-size:20px;
    padding:10px;
    right:40px;
    background-color:#4CAF50;
}