/* Created by Bella Pstrąg */

body{
    color:#fff;
    font-size:20px;
    font-weight:lighter;
}
a{
    color:#fff;
    font-size:24px;
    text-decoration:none;
    font-weight:normal;
}
h3{
    color:#fec;
}
h2{
    Text-decoration:underline;
}
text p{
    font-style:oblique;
}