body {
    margin:0;
    padding:0;
    z-index:-1;
}

canvas{
    top:0px;
    width:100%;
}
.container{
    position:absolute;
    color:#fff;
    font-size:50px;
    top:200px;
    left:2%;
}
.anim{
position:fixed;
animation:lt 0.6s linear;}
.anim1{
position:fixed;
animation:rt 0.6s linear;}
 @-webkit-keyframes lt {
  0% { -webkit-transform: rotate(6000000deg);
        font-size:-280px;color:blue;
          }
  25% {font-size:-250px;
  color:red;} 
  50% {  font-size:-150px;
  color:pink;} 
  100% {
  font-size:-100px;color:coc;
  } }
@-webkit-keyframes rt{
  0% {
        font-size:280px;color:blue;
          }
  25% {font-size:250px;
  color:red;} 
  50% {  font-size:150px;
  color:pink;} 
  100% {
  font-size:100px;color:coc;
  } }
