/* Created by ⓡⓤⓢⓗⓘⓚⓔⓢⓗ */

body{
    background-color: yellow;
}
#demo{
    color:blue;
    font-size: 53px;
    font-family: cursive;
    text-shadow: 4px 6px 3px gray;
}
#big{
    height: 30px;
    box-shadow: 3px 5px 1px black;
}
#big:active{
    box-shadow: 1.5px 3px 1px gray;
    background-color: #bbbbbb;
}
#name{
    height: 30px;
    width: 340px;
    box-shadow: 3px 3px 2px black;
}