.zero{
height:100px;
width:100%;
background-color:red;
top:0;
opacity:0;
z-index:1;
position:absolute;
}
.one{
height:100px;
width:100%;
background-color:red;
top:100px;
opacity:0.1;
z-index:1;
position:absolute;
}
.two{
height:100px;
width:100%;
background-color:red;
top:200px;
opacity:0.2;
z-index:1;
position:absolute;
}
.tree{
height:100px;
width:100%;
background-color:red;
top:300px;
opacity:0.3;
z-index:1;
position:absolute;
}
.four{
height:100px;
width:100%;
background-color:red;
top:400px;
opacity:0.4;
z-index:1;
position:absolute;
}
.five{
height:100px;
width:100%;
background-color:red;
top:500px;
opacity:0.5;
z-index:1;
position:absolute;
}
.six{
height:100px;
width:100%;
background-color:red;
top:600px;
opacity:0.6;
z-index:1;
position:absolute;
}
.seven{
height:100px;
width:100%;
background-color:red;
top:700px;
opacity:0.7;
z-index:1;
position:absolute;
}
.eight{
height:100px;
width:100%;
background-color:red;
top:800px;
opacity:0.8;
z-index:1;
position:absolute;
}
.nine{
height:100px;
width:100%;
background-color:red;
top:900px;
opacity:0.9;
z-index:1;
position:absolute;
}
.ten{
height:100px;
width:100%;
background-color:red;
top:1000px;
opacity:1;
z-index:1;
position:absolute;
}
.try{
top:0;
z-index:2;
position:absolute;
}
