/* Created by Athena */

body{
    background:black;
}
td{
    
    width: 20px;
    height: 20px  
}
.red{
font-size:8px;
   border:solid 6px black;
   border-collapse:collapse ;
    background:linear-gradient(to right top ,black,darkred)
}

.happy{
    color:#ff0000;
    text-align:center;
    font-size:15px;
    font-style:italic;
    padding-top:12px;
    font-weight:bold;
    animation-name:val;
    animation-duration:2s;
    animation-iteration-count:infinite;
    }
    .red{
        color:#ff0000;
    text-align:center;
    font-size:8px;
    font-style:;
    font-weight:;
    animation-name:val;
    animation-duration:2s;
    animation-iteration-count:infinite;
    }
    
@keyframes val{
    0% {color:hsl(0,100%,20%);}
    5% {color:hsl(0,100%,25%);}
    10% {color:hsl(0,100%,30%);}
    15% {color:hsl(0,100%,35%);}
    20% {color:hsl(0,100%,40%);}
    25% {color:hsl(0,100%,45%);}
    30% {color:hsl(0,100%,50%);}
    35% {color:hsl(0,100%,55%);}
    40% {color:hsl(0,100%,60%);}
    45% {color:hsl(0,100%,65%);}
    50% {color:hsl(0,100%,60%);}
    55% {color:hsl(0,100%,55%);}
    60% {color:hsl(0,100%,50%);}
    65% {color:hsl(0,100%,45%);}
    70% {color:hsl(0,100%,40%);}
    75% {color:hsl(0,100%,35%);}
    80% {color:hsl(0,100%,30%);}
    85% {color:hsl(0,100%,25%);}
    90% {color:hsl(0,100%,20%);}
    95% {color:hsl(0,100%,15%);}
    100% {color:hsl(0,100%,10%);}
}
@keyframes love{
     0% {color:hsl(0,100%,20%);}
    5% {color:hsl(0,100%,25%);}
    10% {color:hsl(0,100%,30%);}
    15% {color:hsl(0,100%,35%);}
    20% {color:hsl(0,100%,40%);}
    25% {color:hsl(0,100%,45%);}
    30% {color:hsl(0,100%,50%);}
    35% {color:hsl(0,100%,55%);}
    40% {color:hsl(0,100%,60%);}
    45% {color:hsl(0,100%,65%);}
    50% {color:hsl(0,100%,60%);}
    55% {color:hsl(0,100%,55%);}
    60% {color:hsl(0,100%,50%);}
    65% {color:hsl(0,100%,45%);}
    70% {color:hsl(0,100%,40%);}
    75% {color:hsl(0,100%,35%);}
    80% {color:hsl(0,100%,30%);}
    85% {color:hsl(0,100%,25%);}
    90% {color:hsl(0,100%,20%);}
    95% {color:hsl(0,100%,15%);}
    100% {color:hsl(0,100%,10%);}
}
