html,body{
    height:100%;
    margin:0;
}
.bg{
    background-image:url("https://www.pubgmobile.com/en-US/m/images/hdm.jpg");
    height:100%;
    filter:brightness(0.49);
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}
#hdr{
    position:absolute;
    top:30px;
    width:80%;
    left:10%;
    height:auto;
}
#hdrr{
    position:absolute;
    top:100px;
    width:30%;
    right:35%;
    height:auto;
}
.bgs{
    position:absolute;
    bottom:30px;
    width:70%;
    left:15%;
    opacity:0.8;
    height:auto;
}